-
  var awardHeader = '#awards';
  var awardList = [
    {
      title: 'Certificate de graduation',
      description: 'Of the University Ovidius',
      location: 'Constanta',
      date: '2014',
    },
    {
    title: 'Certificate de graduation',
    description: 'Highschool Traian',
    location: 'Constanta',
    date: '2010',
    }
    ]

#award
  .award
    .award__header=awardHeader
    each award in awardList
      .award__card
        .award__icon
          span.my-cv__icon--trophy
        .award__title=award.title
        .award__icon
          span.my-cv__icon--info
        .award__description=award.description
        .award__icon
          span.my-cv__icon--map2
        .award__location=award.location
        .award__icon
          span.my-cv__icon--calendar
        .award__date=award.date