//- data comes here
-
  var header = '#about me'
  var imagePath = "asset/image/avatar.jpg"
  var myFullName = "Pavel Ciupitu"
  var myTitle = "Junior Web Developer"
  var slogan = "I am a front-end developer, so I shape the virtual world!"
  var achievement = {
    title: 'achievement',
    content: "I've build few websites but all of them are made with the latest technologies and they have great score.",
  }
  var coolStuff = {
    title: 'grab cool stuff',
    buttonList: [
        {
          url:'https://github.com/pavelciupitu',
          icon:'github',
          label:'Click to visit the GitHub project source!',
        }
        ,{
          url:'https://github.com/pavelciupitu',
          icon:'file-word',
          label:'Click to download my abbreviated resume!',
        }
        ,{
          url:'https://github.com/pavelciupitu',
          icon:'file-word',
          label:'Click to download my detailed resume!',
        }
      ]
  }
//- the view comes here
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myFullName
  .about-me__full-title=myTitle
  .about-me__slogan=slogan
  
  .about-me__title=achievement.title
  .about-me__content=achievement.content

  .about-me__title=coolStuff.title
  .about-me_link-list
    each button in coolStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv__icon--${button.icon}`)